<div class="h-full flex justify-center items-center">
    <a href="/destination" class="flex flex-row justify-between sm:justify-center items-center bg-emerald-700 pl-4 md:pl-6 lg:pl-6  rounded-r-full rounded-l-full p-1 gap-1 md:gap-4 lg:gap-4 hover:bg-yellow-500 transition-bg duration-500">
        <h1 class="text-white font-bold text-xs md:text-base lg:text-lg"> Book Now</h1>
        <div class="h-7 md:h-12 lg:h-12 w-7 md:w-12 lg:w-12 rounded-full bg-white flex justify-center items-center">
            <i class="fa fa-paper-plane sm:text-xs md:text-base lg:text-base" aria-hidden="true"></i>
        </div>
    </a>
</div>